CADENAS DE TEXTO

Las cadenas de texto son secuencuas de caracteres. También se les conoce como "strings".

In [1]:
#Esta es la primer forma de especidicar un textp

"Esto es una cadena de texto"

'Esto es una cadena de texto'

In [2]:
'Esto tambien es una cadena de texto'

'Esto tambien es una cadena de texto'

In [11]:
#se puede asignar a una variable
texto = "Así asignamos con dos comillas"
#impimimos texto y texto2
texto

'Así asignamos con dos comillas'

In [9]:
texto2 = 'Esto es un ejemplo con una comilla'

texto2

'Esto es un ejemplo con una comilla'

In [12]:
textolargo = """
Este es un ejemplo para mostrar como podemos imprimir
un texto en forma de parrafo
"""
textolargo

'\nEste es un ejemplo para mostrar como podemos imprimir\nun texto en forma de parrafo\n'

In [16]:
msg = "Primera linea\nSegunda linea\nTercera linea"
print(msg)

Primera linea
Segunda linea
Tercera linea

In [14]:
msg = 'texto'
msg

'texto'

In [17]:
#imprimir variables de manera consecutiva
msg1 = 'hola'
msg2 = 'mundo'
msg3 = ',estimados'

print(msg1,msg2,msg3)

hola mundo ,estimados

In [21]:
#separado por barra
msg1 = 'hola'
msg2 = 'mundo'
msg3 = ',estimados'

print(msg1,msg2,msg3,end='|' )

hola mundo ,estimados|

In [ ]:
#separado por barra
msg1 = 'hola'
msg2 = 'mundo'
msg3 = ',estimados'

print(msg1,msg2,msg3,end='|' )

# Concatenación

In [24]:
msgx='Hola'
nombre = 'invitado'
concatenada = msgx + ' ' + nombre
print(concatenada)

Hola invitado

In [25]:
repetir = msgx * 3
print(repetir)

HolaHolaHola

# Indexación

In [26]:
string = 'Hola, Mundo'

In [27]:
string[0]

'H'

In [29]:
string[6]

'M'

In [30]:
#se puede también al reves
string[-1]

'o'

# Trocear una cadena

In [31]:
string [:] #significa extraer la secuencia entera desde el comienzo hasta el final.

'Hola, Mundo'

In [34]:
#extraer un rango de posiciones
string[0:5]

'Hola,'

In [38]:
string[:-5]

'Hola, '

In [35]:
#inicio final pasos
string[2:10:2]

'l,Mn'

# Limpiar cadenas de texto

In [ ]:
texto.strip()
texto.rstrip()#limpiar por la derecha
texto.lstrip()

In [ ]:
#buscar palabra en específico
texto.find()

# Upercase and lowercase

In [ ]:
Texto = 'uppercase'
texto.upper

# F-string

In [39]:
a , b = 1,2

In [40]:
print(f'')

In [41]:
name = 'Elon Musk'
age = 50
fortune = 20000

In [42]:
print(f'Me llamo {name},tengo {age} y cuento con {fortune} millones de dolare')

Me llamo Elon Musk,tengo 50 y cuento con 20000 millones de dolare

In [44]:
import math
Pi = math.pi
print(f'El valor de Pi redondeado con 3 digitos:{Pi:.3f}')

El valor de Pi redondeado con 3 digitos:3.142